<p id="notice"><%= notice %></p>

<h1>Listing Letter Requests</h1>

<table>
  <thead>
    <tr>
      <th>Professor email</th>
      <th>Student application</th>
      <th>Access code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letter_requests.each do |letter_request| %>
      <tr>
        <td><%= letter_request.professor_email %></td>
        <td><%= letter_request.student_application_id %></td>
        <td><%= letter_request.access_code %></td>
        <td><%= link_to 'Show', letter_request %></td>
        <td><%= link_to 'Edit', edit_letter_request_path(letter_request) %></td>
        <td><%= link_to 'Destroy', letter_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter request', new_letter_request_path %>
