<p id="notice"><%= notice %></p>

<h1>Listing Form Fields</h1>

<table>
  <thead>
    <tr>
      <th>Field type</th>
      <th>Name</th>
      <th>Form template</th>
      <th>Is mandatory</th>
      <th>Default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_fields.each do |form_field| %>
      <tr>
        <td><%= form_field.field_type %></td>
        <td><%= form_field.name %></td>
        <td><%= form_field.form_template_id %></td>
        <td><%= form_field.is_mandatory %></td>
        <td><%= form_field.default %></td>
        <td><%= link_to 'Show', form_field %></td>
        <td><%= link_to 'Edit', edit_form_field_path(form_field) %></td>
        <td><%= link_to 'Destroy', form_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form field', new_form_field_path %>
