<%= form_for(@student_application) do |f| %>
  <% if @student_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_application.errors.count, "error") %> prohibited this student_application from being saved:</h2>

      <ul>
      <% @student_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :application_process_id %><br>
    <%= f.number_field :application_process_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
