<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student_application.student_name %>
</p>

<p>
  <strong>Application process:</strong>
  <%= @student_application.application_process_id %>
</p>

<%= link_to 'Edit', edit_student_application_path(@student_application) %> |
<%= link_to 'Back', student_applications_path %>
